<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Category</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <nav>
      <a href="{% url 'product_list' %}">Product List</a> |
      <a href="{% url 'order_list' %}">Order List</a> |
      <a href="{% url 'add_product' %}">Add Product</a> |
      <a href="{% url 'add_order' %}">Add Order</a> |
      <a href="{% url 'add_category' %}">Add Category</a>
    </nav>
    <h1>Add Category</h1>
    <form action="{% url 'add_category' %}" method="POST">
      {% csrf_token %}
      <div>{{ form.name.label_tag }} {{ form.name }}</div>
      <button type="submit">Add Category</button>
    </form>
  </body>
</html>
